/*Header*/
nav {
  display: flex;
  gap: 20px;
  padding: 20px;
  background: linear-gradient(
    to bottom,
    black 40%,
    transparent 100%
  );
  position: fixed;
  transition: background 0.3s ease;
  width: 100%;
}
nav a {
  text-decoration: none;
  color: white;
}
nav a:hover {
  text-decoration: underline;
}
nav h2 {
  color: red;
  font-weight: bold;
}
/*Header-End*/

/*MovieCard*/
.movie-card {
  width: 200px;
  color: white;
}
.movie-card img {
  width: 100%;
  border-radius: 10px;
}
/*MovieCard-End*/

/*Home*/
.Home {
  padding: 20px;
  background-color: black;
  min-height: 100vh;
}
.Home h1 {
  color: white;
}
.Home-data {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
/*Home-End*/