/*Header*/
nav {
  display: flex;
  gap: 20px;
  padding: 20px;
  background: linear-gradient(
    to bottom,
    black 40%,
    transparent 100%
  );
  position: fixed;
  transition: background 0.3s ease;
  width: 100%;
}
nav a {
  text-decoration: none;
  color: white;
}
nav a:hover {
  text-decoration: underline;
}
nav h2 {
  color: red;
  font-weight: bold;
}
/*Header-End*/

/*MovieCard*/
.movie-card {
  width: 200px;
  color: white;
  margin-top: 50px;
}
.movie-card img {
  width: 100%;
  border-radius: 10px;
}
.movie-card:hover {
  transform: scale(1.30);
  transition: transform 0.7s ease;
}
.movie-card-link {
  text-decoration: none;
}
/*MovieCard-End*/

/*Home*/
.Home {
  padding: 20px;
  background-color: black;
  min-height: 100vh;
}
.Home h1 {
  color: white;
}
.Home-data {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
/*Home-End*/

/*Movie-Details*/
.Movie-Details {
  padding: 20px;
  background-color: black;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Movie-Details img {
  width: 300px;
  border-radius: 10px;
  margin-top: 50px;
}
.Movie-Details-Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  gap: 20px;
  max-width: 700px;
  text-align: justify;
  line-height: 1.8;
}
.Movie-Details-Content h1 {
  color: white;
  font-weight: bold;
  text-align: center;
}
.Movie-Details a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin: 50px;
}
.Movie-Details a:hover {
  text-decoration: underline;
}
/*Movie-Details-End*/