/*Header*/
nav {
  display: flex;
  gap: 20px;
  padding: 20px;
  background: linear-gradient(
    to bottom,
    black 70%,
    transparent 100%
  );
}
nav a {
  text-decoration: none;
  color: white;
}
nav a:hover {
  text-decoration: underline;
}
nav h2 {
  color: red;
  font-weight: bold;
}
/*Header-End*/